*.com
*.class
*.dll
*.exe
*.pdb
*.dll.config
*.cache
*.suo
*.bak
*.pubxml.user
*.csproj.user
*.pubxml
*.DS_Store
.DS_Store

Data/
obj/
bin/
packages/
Publish/
\

\.vs
!dll/*.dll
.vscode/launch.json
.vscode/tasks.json
